{% extends "admin/index.html" %}

{% block main_content %}

      <!-- Main Content -->
      <div id="content">

        {% block topbar %}
            {% include 'admin/topbar.html' %}
        {% endblock %}

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800" data-i18n="awards">Premios</h1>
         
          <!-- Basic Card Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary" data-i18n="addAward">Agregar Premio</h6>
            </div>
            <div class="card-body">

              <div class="row mt-2">
                <div class="col">
                  <label for="" data-i18n="type"></label>
                  <select name="" id="tipo-premio" class="form-control">
                    <option value="fisico">Fisico</option>
                    <option value="virtual">Virtual</option>
                  </select>
                </div>
                <div class="col">
                  <label for="" data-i18n="points"></label>
                  <input type="number" id="puntos-premio" class="form-control">
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <label for="trivia" data-i18n="description"></label>
                  <input type="text" id="descripcion" class="form-control">
                </div>
              </div>

              <div class="row mt-2">
                  <div class="col">
                    <a href="#" class="btn btn-success btn-icon-split">
                      <span class="icon text-white-50">
                        <i class="fas fa-check"></i>
                      </span>
                      <span class="text" id="save-trivia" data-i18n="save"></span>
                    </a>
                  </div>
              </div>
            </div>
          </div>

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary" data-i18n="awards"></h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th data-i18n="type">Tipo</th>
                      <th data-i18n="description">Descripcion</th>
                      <th data-i18n="points">Puntos</th>
                      <th>Mod</th>
                    </tr>
                  </thead>
                  <!-- <tfoot>
                    <tr>
                      <th>#</th>
                      <th>Nombre</th>
                    </tr>
                  </tfoot> -->
                  <tbody id="categories">
                    {% for premio in premios %}
                      <tr>
                        <td>{{ premio._id }}</td>
                        <td>{{ premio.tipo }}</td>
                        <td>{{ premio.descripcion }}</td>
                        <td>{{ premio.puntos }}</td>
                        <td>
                            <a href="#" class="btn btn-info btn-circle btn-sm" onclick="editPremio('{{ premio._id }}','{{ premio.tipo }}', '{{ premio.descripcion }}', '{{ premio.puntos }}')" data-toggle="modal" data-target="#editModal"> 
                              <i class="fas fa-pencil-alt"></i>
                            </a>
                            <a href="#" onclick="deletePremio('{{ premio._id }}')" class="btn btn-danger btn-circle btn-sm">
                              <i class="fas fa-trash"></i>
                            </a>
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Modal -->
      <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modificar categoria</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <input type="hidden" id="edit-id">
                <div class="row mt-2">
                  <div class="col">
                    <label for="">Tipo</label>
                    <select name="" id="edit-tipo" class="form-control">
                      <option value="fisico">Fisico</option>
                      <option value="virtual">Virtual</option>
                    </select>
                  </div>
                  <div class="col">
                    <label for="">Puntos</label>
                    <input type="number" id="edit-puntos" class="form-control">
                  </div>
                </div>
  
                <div class="row">
                  <div class="col">
                    <label for="trivia">Descripcion</label>
                    <input type="text" id="edit-descripcion" class="form-control">
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <a href="#" class="btn btn-secondary btn-icon-split" data-dismiss="modal">
                  <span class="icon text-white-50">
                    <i class="fas fa-arrow-left"></i>
                  </span>
                  <span class="text">Cerrar</span>
                </a>
                <a href="#" class="btn btn-success btn-icon-split" data-dismiss="modal">
                  <span class="icon text-white-50">
                    <i class="fas fa-check"></i>
                  </span>
                  <span class="text" id="save-premio">Guardar</span>
                </a>
              </div>
            </div>
          </div>
        </div>
  
{% endblock %}

{% block script %}

  <script>
     $('#save-trivia').click(function(){
      let premio = {
        tipo: $('#tipo-premio').val(),
        puntos: $('#puntos-premio').val(),
        descripcion: $('#descripcion').val()
      }
      fetch('/api/premios/nuevo', {
        method: 'POST',
        body: JSON.stringify(premio)
      })
      .then(data => data.json())
      .then(res => {
        location.replace('/admin/premios')
      })
     })

     function deletePremio(id){
      fetch('/api/premios/borrar', {
        method: 'POST',
        body: JSON.stringify({id: id})
      })
      .then(data => data.json())
      .then(res => {
        location.replace('/admin/premios')
      })
     }

     function editPremio(id, tipo, descripcion, puntos){
      $('#edit-id').val(id)
      $('#edit-tipo').val(tipo)
      $('#edit-tipo').trigger('change')
      $('#edit-puntos').val(puntos)
      $('#edit-descripcion').val(descripcion)
     }

     $('#save-premio').click(function(){
      let premio = {
        id: $('#edit-id').val(),
        tipo: $('#edit-tipo').val(),
        puntos: $('#edit-puntos').val(),
        descripcion: $('#edit-descripcion').val()
      }
      fetch('/api/premios/editar', {
        method: 'POST',
        body: JSON.stringify(premio)
      })
      .then(data => data.json())
      .then(res => {
        location.replace('/admin/premios')
      })
     })
  </script>

{% endblock %}