{% extends "admin/index.html" %}

{% block main_content %}

      <!-- Main Content -->
      <div id="content">

        {% block topbar %}
            {% include 'admin/topbar.html' %}
        {% endblock %}

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800" data-i18n="draws"></h1>
         
          <!-- Basic Card Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary" data-i18n="addDraw">Agregar Sorteo</h6>
            </div>
            <div class="card-body">

              <div class="row mt-2">
                <div class="col">
                  <label for="" data-i18n="type">Tipo</label>
                  <select name="" id="sorteo-type" class="form-control" onchange="handleChangeType()">
                    <option value="ranking">Ranking</option>
                    <option value="instantaneo">Instantaneo</option>
                  </select>
                </div>
                <div class="col">
                  <label for="" data-i18n="award"></label>
                  <select name="" id="" class="form-control">
                    {% for premio in premios %}
                      <option value="{{ premio['_id'] }}">{{ premio['descripcion'] }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>

              <div class="row mt-2">
                <div class="col">
                  <label for="trivia" data-i18n="description">Descripcion</label>
                  <input type="text" class="form-control">
                </div>
              </div>

              <div class="row mt-2" id="instant-type">
                <div class="col">
                  <label for="trivia">Trivia</label>
                  <select name="" id="" class="form-control">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                  </select>
                </div>
                <div class="col">
                  <label for="trivia" data-i18n="startTime"></label>
                  <input type="time" class="form-control">
                </div>
                <div class="col">
                  <label for="trivia" data-i18n="endTime"></label>
                  <input type="time" class="form-control">
                </div>
                <div class="col">
                  <label for="trivia" data-i18n="frequency"></label>
                  <input type="time" class="form-control">
                </div>
              </div>

              <div class="row mt-2" id="ranking-type">
                <div class="col">
                  <label for="trivia" data-i18n="datetime"></label>
                  <input type="datetime-local" class="form-control">
                </div>
              </div>

              <div class="row mt-3">
                  <div class="col">
                    <a href="#" class="btn btn-success btn-icon-split">
                      <span class="icon text-white-50">
                        <i class="fas fa-check"></i>
                      </span>
                      <span class="text" id="save-trivia" data-i18n="save"></span>
                    </a>
                  </div>
              </div>
            </div>
          </div>

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary" data-i18n="draws"></h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th data-i18n="type">Tipo</th>
                      <th data-i18n="description">Descripcion</th>
                      <th data-i18n="award">Premio</th>
                      <th>Mod</th>
                    </tr>
                  </thead>
                  <!-- <tfoot>
                    <tr>
                      <th>#</th>
                      <th>Nombre</th>
                    </tr>
                  </tfoot> -->
                  <tbody id="categories">
                    {% for sorteo in sorteos %}
                      <tr>
                        <td style="max-width: 50px">{{ sorteo['_id'] }}</td>
                        <td>{{ sorteo['tipo'] }}</td>
                        <td>{{ sorteo['descripcion'] }}</td>
                        <td>{{ sorteo['premio']['descripcion'] }}</td>
                        <td>
                            <a href="#" class="btn btn-info btn-circle btn-sm" data-toggle="modal" data-target="#editModalRanking"> 
                              <i class="fas fa-pencil-alt"></i>
                            </a>
                            <a href="#" class="btn btn-danger btn-circle btn-sm">
                              <i class="fas fa-trash"></i>
                            </a>
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Modal Ranking -->
      <div class="modal fade" id="editModalRanking" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modificar categoria</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <div class="row mt-2">
                    <div class="col">
                      <label for="">Tipo</label>
                      <select name="" id="sorteo-type" class="form-control" >
                        <option value="ranking">Ranking</option>
                        <option value="instant">Instantaneo</option>
                      </select>
                    </div>
                    <div class="col">
                      <label for="">Premio</label>
                      <select name="" id="" class="form-control">
                        <option value="fisico">100 Puntos</option>
                        <option value="virtual">Xiaomi Redmi</option>
                        <option value="virtual">500 puntos</option>
                        <option value="virtual">Samsung galaxy</option>
                        <option value="virtual">iPad</option>
                      </select>
                    </div>
                  </div>
    
                  <div class="row mt-2">
                    <div class="col">
                      <label for="trivia">Descripcion</label>
                      <input type="text" class="form-control">
                    </div>
                  </div>
    
                
                  <div class="row mt-2" id="ranking-type-modal">
                    <div class="col">
                      <label for="trivia">Fecha y hora</label>
                      <input type="datetime-local" class="form-control">
                    </div>
                  </div>
              </div>
              <div class="modal-footer">
                <a href="#" class="btn btn-secondary btn-icon-split" data-dismiss="modal">
                  <span class="icon text-white-50">
                    <i class="fas fa-arrow-left"></i>
                  </span>
                  <span class="text">Cerrar</span>
                </a>
                <a href="#" class="btn btn-success btn-icon-split" data-dismiss="modal">
                  <span class="icon text-white-50">
                    <i class="fas fa-check"></i>
                  </span>
                  <span class="text" id="save-sorteo">Guardar</span>
                </a>
              </div>
            </div>
          </div>
        </div>

        <!-- Modal Instant -->
        <div class="modal fade" id="editModalInstant" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Modificar categoria</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <div class="row mt-2">
                      <div class="col">
                        <label for="">Tipo</label>
                        <select name="" id="sorteo-type" class="form-control" >
                          <option value="ranking">Ranking</option>
                          <option value="instant">Instantaneo</option>
                        </select>
                      </div>
                      <div class="col">
                        <label for="">Premio</label>
                        <select name="" id="" class="form-control">
                          <option value="fisico">100 Puntos</option>
                          <option value="virtual">Xiaomi Redmi</option>
                          <option value="virtual">500 puntos</option>
                          <option value="virtual">Samsung galaxy</option>
                          <option value="virtual">iPad</option>
                        </select>
                      </div>
                    </div>
      
                    <div class="row mt-2">
                      <div class="col">
                        <label for="trivia">Descripcion</label>
                        <input type="text" class="form-control">
                      </div>
                    </div>
      
                    <div class="row mt-2" id="instant-type-modal">
                      <div class="col">
                        <label for="trivia">Trivia</label>
                        <select name="" id="" class="form-control">
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          <option value="5">5</option>
                        </select>
                      </div>
                      <div class="col">
                        <label for="trivia">Hora Inicio</label>
                        <input type="time" class="form-control">
                      </div>
                      <div class="col">
                        <label for="trivia">Hora Fin</label>
                        <input type="time" class="form-control">
                      </div>
                      <div class="col">
                        <label for="trivia">Frecuencia</label>
                        <input type="time" class="form-control">
                      </div>
                    </div>
      
                </div>
                <div class="modal-footer">
                  <a href="#" class="btn btn-secondary btn-icon-split" data-dismiss="modal">
                    <span class="icon text-white-50">
                      <i class="fas fa-arrow-left"></i>
                    </span>
                    <span class="text">Cerrar</span>
                  </a>
                  <a href="#" class="btn btn-success btn-icon-split" data-dismiss="modal">
                    <span class="icon text-white-50">
                      <i class="fas fa-check"></i>
                    </span>
                    <span class="text" id="save-category">Guardar</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
    
  
{% endblock %}

{% block script %}

  <script>

    $('#instant-type').hide()

    const handleChangeType = e => {
      let type = $('#sorteo-type').val()

      if(type === "instantaneo"){
        $('#instant-type').show()
        $('#ranking-type').hide()
      }else{
        $('#instant-type').hide()
        $('#ranking-type').show()
      }
    }

    $('#save-sorteo').click(function(){
      let sorteo = {
        tipo: $('#sorteo-type').val(),

      }
    })
     
  </script>

{% endblock %}