{% extends "admin/index.html" %}

{% block main_content %}

      <!-- Main Content -->
      <div id="content">

        {% block topbar %}
            {% include 'admin/topbar.html' %}
        {% endblock %}

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800" data-i18n="draws"></h1>
         
          <!-- Basic Card Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary" data-i18n="addDraw">Agregar Sorteo</h6>
            </div>
            <div class="card-body">

              <div class="row mt-2">
                <div class="col">
                  <label for="" data-i18n="type">Tipo</label>
                  <select name="" id="sorteo-type" class="form-control" onchange="handleChangeType()">
                    <option value="ranking">Ranking</option>
                    <option value="instantaneo">Instantaneo</option>
                  </select>
                </div>
                <div class="col">
                  <label for="" data-i18n="award"></label>
                  <select id="sorteo-premio" class="form-control">
                    {% for premio in premios %}
                      <option value="{{ premio['_id'] }}">{{ premio['descripcion'] }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>

              <div class="row mt-2">
                <div class="col">
                  <label for="trivia" data-i18n="description">Descripcion</label>
                  <input type="text" id="sorteo-descripcion" class="form-control">
                </div>
              </div>

              <div class="row mt-2" id="instant-type">
                <div class="col">
                  <label for="trivia">Trivia</label>
                  <select name="" id="sorteo-trivia" class="form-control">
                    {% for trivia in trivias %}
                      <option value="{{ trivia['_id'] }}">{{ trivia['question'] }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="col">
                  <label for="trivia" data-i18n="startTime"></label>
                  <input type="time" id="sorteo-inicio" class="form-control">
                </div>
                <div class="col">
                  <label for="trivia" data-i18n="endTime"></label>
                  <input type="time" id="sorteo-fin" class="form-control">
                </div>
                <div class="col">
                  <label for="trivia" data-i18n="frequency"></label>
                  <input type="time" id="sorteo-frecuencia" class="form-control">
                </div>
              </div>

              <div class="row mt-2" id="ranking-type">
                <div class="col">
                  <label for="trivia" data-i18n="datetime"></label>
                  <input type="date" id="sorteo-fecha" class="form-control">
                </div>
              </div>

              <div class="row mt-3">
                  <div class="col">
                    <a href="#" class="btn btn-success btn-icon-split">
                      <span class="icon text-white-50">
                        <i class="fas fa-check"></i>
                      </span>
                      <span class="text" id="save-trivia" data-i18n="save"></span>
                    </a>
                  </div>
              </div>
            </div>
          </div>

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary" data-i18n="draws"></h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th data-i18n="type">Tipo</th>
                      <th data-i18n="description">Descripcion</th>
                      <th data-i18n="award">Premio</th>
                      <th>Mod</th>
                    </tr>
                  </thead>
                  <!-- <tfoot>
                    <tr>
                      <th>#</th>
                      <th>Nombre</th>
                    </tr>
                  </tfoot> -->
                  <tbody id="categories">
                    {% for sorteo in sorteos %}
                      <tr>
                        <td style="max-width: 50px">{{ sorteo['_id'] }}</td>
                        <td>{{ sorteo['tipo'] }}</td>
                        <td>{{ sorteo['descripcion'] }}</td>
                        <td>{{ sorteo['premio']['descripcion'] }}</td>
                        <td>
                            <a href="#" class="btn btn-info btn-circle btn-sm" onclick="editSorteo('{{ sorteo._id }}', '{{ sorteo.tipo }}', '{{ sorteo.descripcion }}', '{{ sorteo.premio._id}}', '{{ sorteo.fecha }}', '{{ sorteo.hora_inicio }}', '{{ sorteo.hora_fin }}', '{{ sorteo.frecuencia }}', '{{ sorteo.trivia }}')"> 
                              <i class="fas fa-pencil-alt"></i>
                            </a>
                            <a href="#" onclick="deleteSorteo('{{ sorteo._id }}')" class="btn btn-danger btn-circle btn-sm">
                              <i class="fas fa-trash"></i>
                            </a>
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Modal Ranking -->
      <div class="modal fade" id="editModalRanking" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modificar categoria</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <div class="row mt-2">
                    <div class="col">
                      <input type="hidden" id="ranking-id">
                      <label for="">Tipo</label>
                      <select name="" id="ranking-tipo" class="form-control" >
                        <option value="ranking">Ranking</option>
                        <option value="instantaneo">Instantaneo</option>
                      </select>
                    </div>
                    <div class="col">
                      <label for="">Premio</label>
                      <select id="ranking-premio" class="form-control">
                        {% for premio in premios %}
                          <option value="{{ premio['_id'] }}">{{ premio['descripcion'] }}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
    
                  <div class="row mt-2">
                    <div class="col">
                      <label for="trivia">Descripcion</label>
                      <input type="text" class="form-control" id="ranking-descripcion">
                    </div>
                  </div>
    
                
                  <div class="row mt-2" id="ranking-type-modal">
                    <div class="col">
                      <label for="trivia">Fecha y hora</label>
                      <input type="date" class="form-control" id="ranking-fecha">
                    </div>
                  </div>
              </div>
              <div class="modal-footer">
                <a href="#" class="btn btn-secondary btn-icon-split" data-dismiss="modal">
                  <span class="icon text-white-50">
                    <i class="fas fa-arrow-left"></i>
                  </span>
                  <span class="text">Cerrar</span>
                </a>
                <a href="#" class="btn btn-success btn-icon-split" data-dismiss="modal">
                  <span class="icon text-white-50">
                    <i class="fas fa-check"></i>
                  </span>
                  <span class="text" id="save-ranking">Guardar</span>
                </a>
              </div>
            </div>
          </div>
        </div>

        <!-- Modal Instant -->
        <div class="modal fade" id="editModalInstant" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Modificar categoria</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <div class="row mt-2">
                      <div class="col">
                        <label for="">Tipo</label>
                        <input type="hidden" id="inst-id">
                        <select name="" id="inst-tipo" class="form-control" >
                          <option value="ranking">Ranking</option>
                          <option value="instantaneo">Instantaneo</option>
                        </select>
                      </div>
                      <div class="col">
                        <label for="">Premio</label>
                        <select id="inst-premio" class="form-control">
                          {% for premio in premios %}
                            <option value="{{ premio['_id'] }}">{{ premio['descripcion'] }}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>
      
                    <div class="row mt-2">
                      <div class="col">
                        <label for="trivia">Descripcion</label>
                        <input type="text" id="inst-descripcion" class="form-control">
                      </div>
                    </div>
      
                    <div class="row mt-2" id="instant-type-modal">
                      <div class="col">
                        <label for="trivia">Trivia</label>
                        <select id="inst-trivia" class="form-control">
                          {% for trivia in trivias %}
                            <option value="{{ trivia['_id'] }}">{{ trivia['question'] }}</option>
                          {% endfor %}
                        </select>
                      </div>
                      <div class="col">
                        <label for="trivia">Hora Inicio</label>
                        <input type="time" id="inst-inicio" class="form-control">
                      </div>
                      <div class="col">
                        <label for="trivia">Hora Fin</label>
                        <input type="time" id="inst-fin" class="form-control">
                      </div>
                      <div class="col">
                        <label for="trivia">Frecuencia</label>
                        <input type="time" id="inst-frecuencia" class="form-control">
                      </div>
                    </div>
      
                </div>
                <div class="modal-footer">
                  <a href="#" class="btn btn-secondary btn-icon-split" data-dismiss="modal">
                    <span class="icon text-white-50">
                      <i class="fas fa-arrow-left"></i>
                    </span>
                    <span class="text">Cerrar</span>
                  </a>
                  <a href="#" class="btn btn-success btn-icon-split" data-dismiss="modal">
                    <span class="icon text-white-50">
                      <i class="fas fa-check"></i>
                    </span>
                    <span class="text" id="save-inst">Guardar</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
    
  
{% endblock %}

{% block script %}

  <script>

    $('#instant-type').hide()

    const handleChangeType = e => {
      let type = $('#sorteo-type').val()

      if(type === "instantaneo"){
        $('#instant-type').show()
        $('#ranking-type').hide()
      }else{
        $('#instant-type').hide()
        $('#ranking-type').show()
      }
    }

    $('#save-trivia').click(function(){
      let sorteo = {
        tipo: $('#sorteo-type').val(),
        premio: $('#sorteo-premio').val(),
        descripcion: $('#sorteo-descripcion').val(),
        trivia: $('#sorteo-trivia').val(),
        hora_inicio: $('#sorteo-inicio').val(),
        hora_fin: $('#sorteo-fin').val(),
        frecuencia: $('#sorteo-frecuencia').val(),
        fecha: $('#sorteo-fecha').val()
      }
      fetch('/api/sorteos/nuevo',{
        method: 'POST',
        body: JSON.stringify(sorteo)
      })
      .then(data => data.json())
      .then(res => {
        location.replace('/admin/sorteos')
      })
    })

    function deleteSorteo(id){
      fetch('/api/sorteos/borrar', {
        method: 'POST',
        body: JSON.stringify({id: id})
      })
      .then(data => data.json())
      .then(res => {
        location.replace('/admin/sorteos')
      })
     }

    function editSorteo(id, tipo, descripcion, premio, fecha, hora_inicio, hora_fin, frecuencia, trivia){
      if(tipo == 'ranking'){
        $('#ranking-id').val(id)
        $('#ranking-tipo').val(tipo)
        $('#ranking-tipo').trigger('change')
        $('#ranking-premio').val(premio)
        $('#ranking-premio').trigger('change')
        $('#ranking-descripcion').val(descripcion)
        $('#ranking-fecha').val(fecha)
        $('#ranking-fecha').trigger('change')
        $('#editModalRanking').modal('show')
      } else {
        $('#inst-id').val(id)
        $('#inst-tipo').val(tipo)
        $('#inst-tipo').trigger('change')
        $('#inst-premio').val(premio)
        $('#inst-premio').trigger('change')
        $('#inst-descripcion').val(descripcion)
        $('#inst-trivia').val(trivia)
        $('#inst-trivia').trigger('change')
        $('#inst-inicio').val(hora_inicio)
        $('#inst-fin').val(hora_fin)
        $('#inst-frecuencia').val(frecuencia)
        $('#editModalInstant').modal('show')
      }
    }

    $('#save-ranking').click(function(){
      let sorteo = {
        id: $('#ranking-id').val(),
        tipo: $('#ranking-tipo').val(),
        premio: $('#ranking-premio').val(),
        descripcion: $('#ranking-descripcion').val(),
        fecha: $('#ranking-fecha').val()
      }
      fetch('/api/sorteos/editar', {
        method: 'POST',
        body: JSON.stringify(sorteo)
      })
      .then(data => data.json())
      .then(res => {
        location.replace('/admin/sorteos')
      })
    })

    $('#save-inst').click(function(){
      let sorteo = {
        id: $('#inst-id').val(),
        tipo: $('#inst-tipo').val(),
        premio: $('#inst-premio').val(),
        descripcion: $('#inst-descripcion').val(),
        trivia: $('#inst-trivia').val(),
        hora_inicio: $('#inst-inicio').val(),
        hora_fin: $('#inst-fin').val(),
        frecuencia: $('#inst-frecuencia').val()
      }
      fetch('/api/sorteos/editar', {
        method: 'POST',
        body: JSON.stringify(sorteo)
      })
      .then(data => data.json())
      .then(res => {
        location.replace('/admin/sorteos')
      })
    })

  </script>

{% endblock %}