{% extends "admin/index.html" %}

{% block main_content %}

      <!-- Main Content -->
      <div id="content">

        {% block topbar %}
            {% include 'admin/topbar.html' %}
        {% endblock %}

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Trivias</h1>
         
          <!-- Basic Card Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary" data-i18n="addTrivia"></h6>
            </div>
            <div class="card-body">
              <form action="" id="formCorrectOpt">
              <div class="row">
                <div class="col">
                  <label for="trivia" data-i18n="question"></label>
                  <textarea id="trivia" class="form-control" style="resize: none;" required></textarea>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col">
                  <label for="category-trivia" data-i18n="category"></label>
                  <select class="form-control" id="category-trivia">

                    {% for category in categories %}

                      <option value="{{ category.name }}" >{{ category.name  }}</option>
                     
                    {% endfor %}
                  </select>
                </div>

                <!-- <div class="col">
                  <label for="duration-trivia" data-i18n="duration"></label>
                  <input type="number" id="duration-trivia" class="form-control"/>
                </div> -->

                <div class="col">
                    <label for="duration-trivia" data-i18n="correctOpt"></label>
                   
                        <div>
                            <div class="form-check form-check-inline">
                              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="1" required>
                              <label class="form-check-label" for="inlineRadio1">1</label>
                            </div>
                            <div class="form-check form-check-inline">
                              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="2" required>
                              <label class="form-check-label" for="inlineRadio2">2</label>
                            </div>
                            <div class="form-check form-check-inline">
                              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="3" required>
                              <label class="form-check-label" for="inlineRadio1">3</label>
                            </div>
                            <div class="form-check form-check-inline">
                              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="4" required>
                              <label class="form-check-label" for="inlineRadio2">4</label>
                            </div>
                        </div>
                    
                    
                    
                </div>
              </div>

              <div class="row mt-2">
                <div class="col">
                  <label for="image-trivia" data-i18n="image"></label>
                  <input type="file" class="form-control-file" id="image-trivia" />
                </div>
                <div class="col">
                    <label for="audio-trivia">Audio</label>
                    <input type="file" class="form-control-file" id="audio-trivia"/>
                </div>
              </div>

              <div class="row mt-2">
                <div class="col">
                  <label for=""><span data-i18n="option"></span> 1</label>
                  <input type="text" class="form-control" id="option1" required>
                </div>
                <div class="col">
                  <label for=""><span data-i18n="option"></span> 2</label>
                  <input type="text" class="form-control" id="option2" required>
                </div>
              </div>

              <div class="row mt-2">
                <div class="col">
                  <label for=""><span data-i18n="option"></span> 3</label>
                  <input type="text" class="form-control" id="option3" required>
                </div>
                <div class="col">
                  <label for=""><span data-i18n="option"></span> 4</label>
                  <input type="text" class="form-control" id="option4" required>
                </div>
              </div>

              <div class="row mt-2">
                  <div class="col">
                    <button type="submit" class="btn btn-success btn-icon-split" id="save-trivia">
                      <span class="icon text-white-50">
                        <i class="fas fa-check"></i>
                      </span>
                      <span class="text" id="save-trivia" data-i18n="save"></span>
                    </button>
                  </div>
              </div>
           
              </form>
            </div>
          </div>

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Trivias</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th data-i18n="question"></th>
                      <th data-i18n="image">Imagen</th>
                      <th>Audio</th>
                      <th data-i18n="category">Categoria</th>
                      <th data-i18n="option">Correcta</th>
                      <th data-i18n="options">Opciones</th>
                      <th>Mod</th>
                    </tr>
                  </thead>
                  <!-- <tfoot>
                    <tr>
                      <th>#</th>
                      <th>Nombre</th>
                    </tr>
                  </tfoot> -->
                  <tbody id="categories">

                    {% for trivia in trivias %}

                      <tr>
                        <td>{{ trivia['_id'] }}</td>
                        <td>{{ trivia.question }}</td>
                        <td>
                          <img src="{{ trivia.image }}" alt="">
                        </td>
                        <td>
                          <audio controls src="{{ trivia.audio }}"></audio>
                        </td>
                        <td>{{ trivia.category }}</td>
                        <td>{{ trivia.correct }}</td>
                        <td>
                          <select name="" id="" class="form-control">

                              {% for option in trivia.options %}
                                <option value="">{{ option }}</option>
                              {% endfor %}
                          </select>
                        </td>
                        <td>
                            <a href="#" class="btn btn-info btn-circle btn-sm" onclick="editTrivia('{{ trivia._id }}', '{{ trivia.question }}', '{{ trivia.category }}', '{{ trivia.correct }}', '{{ trivia.options[0] }}', '{{ trivia.options[1] }}', '{{ trivia.options[2] }}', '{{ trivia.options[3] }}')"> 
                              <i class="fas fa-pencil-alt"></i>
                            </a>

                            <button class="btn btn-danger btn-circle btn-sm delete-trivia" id="{{ trivia['_id'] }}" >
                              <i class="fas fa-trash delete-trivia" id="{{ trivia['_id'] }}" ></i>
                            </button>
                        </td>
                      </tr>
                     
                    {% endfor %}
                    
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Modal -->
      <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modificar categoria</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="edit-id">
                <div class="row">
                  <div class="col">
                    <label for="trivia">Pregunta</label>
                    <textarea id="edit-question" class="form-control" style="resize: none;"></textarea>
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="col">
                    <label for="category-trivia" >Categoria</label>
                    <select class="form-control" id="edit-categoria">
                      {% for category in categories %}
                        <option value="{{ category.name }}" >{{ category.name  }}</option>
                      {% endfor %}
                    </select>
                  </div>
  
                  <div class="col">
                      <label for="duration-trivia">Opcion correcta</label>
                      <div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="edit-option1" value="1">
                            <label class="form-check-label" for="inlineRadio1">1</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="edit-option2" value="2">
                            <label class="form-check-label" for="inlineRadio2">2</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="edit-option3" value="3">
                            <label class="form-check-label" for="inlineRadio1">3</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="edit-option4" value="4">
                            <label class="form-check-label" for="inlineRadio2">4</label>
                          </div>
                      </div>
                      
                  </div>
                </div>
  
                <div class="row mt-2">
                  <div class="col">
                    <label for="">Opcion 1</label>
                    <input type="text" id="edit-opt1" class="form-control">
                  </div>
                  <div class="col">
                    <label for="">Opcion 2</label>
                    <input type="text" id="edit-opt2" class="form-control">
                  </div>
                </div>
  
                <div class="row mt-2">
                  <div class="col">
                    <label for="">Opcion 3</label>
                    <input type="text" id="edit-opt3" class="form-control">
                  </div>
                  <div class="col">
                    <label for="">Opcion 4</label>
                    <input type="text" id="edit-opt4" class="form-control">
                  </div>
                </div>
            </div>
            <div class="modal-footer">
              <a href="#" class="btn btn-secondary btn-icon-split" data-dismiss="modal">
                <span class="icon text-white-50">
                  <i class="fas fa-arrow-left"></i>
                </span>
                <span class="text">Cerrar</span>
              </a>
              <a href="#" class="btn btn-success btn-icon-split" data-dismiss="modal">
                <span class="icon text-white-50">
                  <i class="fas fa-check"></i>
                </span>
                <span class="text" id="edit-trivia">Guardar</span>
              </a>
            </div>
          </div>
        </div>
      </div>

{% endblock %}

{% block script %}

  <script>
      const toBase64 = file => new Promise((resolve, reject) => {
          const reader = new FileReader();
          reader.readAsDataURL(file);
          reader.onload = () => resolve(reader.result);
          reader.onerror = error => reject(error);
      });

      function editTrivia(id, question, category, correct, opcion1, opcion2, opcion3, opcion4){
        $('#editModal').modal('show')
        $('#edit-id').val(id)
        $('#edit-question').val(question)
        $('#edit-categoria').val(category)
        $('#edit-categoria').trigger('change')
        $('#edit-option'+correct).click()
        $('#edit-opt1').val(opcion1)
        $('#edit-opt2').val(opcion2)
        $('#edit-opt3').val(opcion3)
        $('#edit-opt4').val(opcion4)
      }

      $(document).ready( () => { 
        $('#edit-trivia').click(e => {
          let trivia = {
            id: $('#edit-id').val(),
            question: $('#edit-question').val(),
            category: $('#edit-categoria').val(),
            correct: $('input[name="inlineRadioOptions"]:checked').val(),
            options: [
              $('#edit-opt1').val(),
              $('#edit-opt2').val(),
              $('#edit-opt3').val(),
              $('#edit-opt4').val()
            ]
          }
          fetch('/api/trivia/editar', {
            method: 'POST',
            body: JSON.stringify(trivia)
          })
          .then(data => data.json())
          .then(res => {
            location.replace('/admin/trivias')
          })
        })


        $('.delete-trivia').click( e => {
          const id = e.target.id
          console.log(id)
          fetch('/api/trivia/' + id, {
            method: 'DELETE',
          })
            .then(data => data.json())
            .then(res => {
              location.replace('/admin/trivias')
            })
        })

        $('#formCorrectOpt').submit( async e => {
          e.preventDefault()
  
          let options = [
            $('#option1').val(),
            $('#option2').val(),
            $('#option3').val(),
            $('#option4').val()
          ]

          let audio64 = null;
          let image64 = null;
  
          if(document.querySelector('#audio-trivia').files[0]){
            let audio = document.querySelector('#audio-trivia').files[0];
            audio64 = await toBase64(audio);
          }
          
          if(document.querySelector('#image-trivia').files[0]){
            let image = document.querySelector('#image-trivia').files[0];
            image64 = await toBase64(image);
          }
         
          let data = {
            question: $('#trivia').val(),
            category: $('#category-trivia').val(),
            correct: $('input[name=inlineRadioOptions]:checked', '#formCorrectOpt').val(),
            options,
            audio: audio64,
            image: image64
          }

          $('#save-trivia').toggleClass('btn-info', 'btn-success')
          console.log("trivia enviada...")

          fetch('/api/trivia', {
            method: 'POST',
            body: JSON.stringify(data)
          })
          .then( data => data.json())
          .then( res => {
            console.log(res)
            location.replace('/admin/trivias')
          })
          
          
        })
      })
      
     
  </script>

{% endblock %}