{% extends "admin/index.html" %}

{% block main_content %}

      <!-- Main Content -->
      <div id="content">

        {% block topbar %}
            {% include 'admin/topbar.html' %}
        {% endblock %}

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Trivias</h1>
         
          <!-- Basic Card Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Agregar Trivia</h6>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <label for="trivia">Pregunta</label>
                  <textarea id="trivia" class="form-control" style="resize: none;"></textarea>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col">
                  <label for="category-trivia" >Categoria</label>
                  <select class="form-control" id="category-trivia">
                    <option value="general">General</option>
                    <option value="deportes">Deportes</option>
                    <option value="cultura">Cultura</option>
                  </select>
                </div>

                <div class="col">
                  <label for="duration-trivia">Duracion</label>
                  <input type="number" id="duration-trivia" class="form-control"/>
                </div>

                <div class="col">
                    <label for="duration-trivia">Opcion correcta</label>
                    <div>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                          <label class="form-check-label" for="inlineRadio1">1</label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                          <label class="form-check-label" for="inlineRadio2">2</label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option1">
                          <label class="form-check-label" for="inlineRadio1">3</label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="option2">
                          <label class="form-check-label" for="inlineRadio2">4</label>
                        </div>
                    </div>
                    
                </div>
              </div>

              <div class="row mt-2">
                <div class="col">
                  <label for="image-trivia">Imagen</label>
                  <input type="file" class="form-control-file" id="image-trivia"/>
                </div>
                <div class="col">
                    <label for="audio-trivia">Audio</label>
                    <input type="file" class="form-control-file" id="audio-trivia"/>
                </div>
              </div>

              <div class="row mt-2">
                <div class="col">
                  <label for="">Opcion 1</label>
                  <input type="text" class="form-control">
                </div>
                <div class="col">
                  <label for="">Opcion 2</label>
                  <input type="text" class="form-control">
                </div>
              </div>

              <div class="row mt-2">
                <div class="col">
                  <label for="">Opcion 3</label>
                  <input type="text" class="form-control">
                </div>
                <div class="col">
                  <label for="">Opcion 4</label>
                  <input type="text" class="form-control">
                </div>
              </div>

              <div class="row mt-2">
                  <div class="col">
                    <a href="#" class="btn btn-success btn-icon-split">
                      <span class="icon text-white-50">
                        <i class="fas fa-check"></i>
                      </span>
                      <span class="text" id="save-trivia">Guardar</span>
                    </a>
                  </div>
              </div>
                
              
            </div>
          </div>

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Trivias</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Pregunta</th>
                      <th>Imagen</th>
                      <th>Audio</th>
                      <th>Categoria</th>
                      <th>Duracion</th>
                      <th>Opcion</th>
                      <th>Opciones</th>
                      <th>Mod</th>
                    </tr>
                  </thead>
                  <!-- <tfoot>
                    <tr>
                      <th>#</th>
                      <th>Nombre</th>
                    </tr>
                  </tfoot> -->
                  <tbody id="categories">
                    <tr>
                      <td>1</td>
                      <td>Cual es la verdadera identidad de HeMan?</td>
                      <td></td>
                      <td></td>
                      <td>Categoria</td>
                      <td>10</td>
                      <td>2</td>
                      <td>
                        <select name="" id="" class="form-control">
                          <option value="">Príncipe Adams</option>
                          <option value="">Príncipe Arthur</option>
                          <option value="">Príncipe Albert</option>
                          <option value="">Príncipe Orko</option>
                        </select>
                      </td>
                      <td>
                          <a href="#" class="btn btn-info btn-circle btn-sm" data-toggle="modal" data-target="#editModal">
                            <i class="fas fa-pencil-alt"></i>
                          </a>
                          <a href="#" class="btn btn-danger btn-circle btn-sm">
                            <i class="fas fa-trash"></i>
                          </a>
                      </td>
                    </tr>
                    <tr>
                      <td>2</td>
                      <td></td>
                      <td>ave.png</td>
                      <td></td>
                      <td>Categoria</td>
                      <td>10</td>
                      <td>3</td>
                      <td>
                        <select name="" id="" class="form-control">
                          <option value="">Reinita Común</option>
                          <option value="">Gonzalito</option>
                          <option value="">Tordo Maicero</option>
                          <option value="">Canario de tejado</option>
                        </select>
                      </td>
                      <td>
                          <a href="#" class="btn btn-info btn-circle btn-sm" data-toggle="modal" data-target="#editModal">
                            <i class="fas fa-pencil-alt"></i>
                          </a>
                          <a href="#" class="btn btn-danger btn-circle btn-sm">
                            <i class="fas fa-trash"></i>
                          </a>
                      </td>
                    </tr>
                    <tr>
                      <td>3</td>
                      <td></td>
                      <td></td>
                      <td>audio.mp3</td>
                      <td>Categoria</td>
                      <td>30</td>
                      <td>2</td>
                      <td>
                        <select name="" id="" class="form-control">
                          <option value="">Dormir contigo</option>
                          <option value="">Parampampam</option>
                          <option value="">Que se mueran los feos</option>
                          <option value="">Sazón</option>
                        </select>
                      </td>
                      <td>
                          <a href="#" class="btn btn-info btn-circle btn-sm" data-toggle="modal" data-target="#editModal">
                            <i class="fas fa-pencil-alt"></i>
                          </a>
                          <a href="#" class="btn btn-danger btn-circle btn-sm">
                            <i class="fas fa-trash"></i>
                          </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Modal -->
      <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modificar categoria</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="row">
                  <div class="col">
                    <label for="trivia">Pregunta</label>
                    <textarea id="trivia" class="form-control" style="resize: none;"></textarea>
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="col">
                    <label for="category-trivia" >Categoria</label>
                    <select class="form-control" id="category-trivia">
                      <option value="general">General</option>
                      <option value="deportes">Deportes</option>
                      <option value="cultura">Cultura</option>
                    </select>
                  </div>
  
                  <div class="col">
                    <label for="duration-trivia">Duracion</label>
                    <input type="number" id="duration-trivia" class="form-control"/>
                  </div>
  
                  <div class="col">
                      <label for="duration-trivia">Opcion correcta</label>
                      <div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                            <label class="form-check-label" for="inlineRadio1">1</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                            <label class="form-check-label" for="inlineRadio2">2</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option1">
                            <label class="form-check-label" for="inlineRadio1">3</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="option2">
                            <label class="form-check-label" for="inlineRadio2">4</label>
                          </div>
                      </div>
                      
                  </div>
                </div>
  
                <div class="row mt-2">
                  <div class="col">
                    <label for="image-trivia">Imagen</label>
                    <input type="file" class="form-control-file" id="image-trivia"/>
                  </div>
                  <div class="col">
                      <label for="audio-trivia">Audio</label>
                      <input type="file" class="form-control-file" id="audio-trivia"/>
                  </div>
                </div>
  
                <div class="row mt-2">
                  <div class="col">
                    <label for="">Opcion 1</label>
                    <input type="text" class="form-control">
                  </div>
                  <div class="col">
                    <label for="">Opcion 2</label>
                    <input type="text" class="form-control">
                  </div>
                </div>
  
                <div class="row mt-2">
                  <div class="col">
                    <label for="">Opcion 3</label>
                    <input type="text" class="form-control">
                  </div>
                  <div class="col">
                    <label for="">Opcion 4</label>
                    <input type="text" class="form-control">
                  </div>
                </div>
            </div>
            <div class="modal-footer">
              <a href="#" class="btn btn-secondary btn-icon-split" data-dismiss="modal">
                <span class="icon text-white-50">
                  <i class="fas fa-arrow-left"></i>
                </span>
                <span class="text">Cerrar</span>
              </a>
              <a href="#" class="btn btn-success btn-icon-split" data-dismiss="modal">
                <span class="icon text-white-50">
                  <i class="fas fa-check"></i>
                </span>
                <span class="text" id="save-category">Guardar</span>
              </a>
            </div>
          </div>
        </div>
      </div>

{% endblock %}

{% block script %}

  <script>
      
     
  </script>

{% endblock %}