{% extends "user/base-user.html" %} {% block content %}
<main class="bg-grey">
  <h1 class=" text-center" data-i18n="rules"></h1>
  <div class="mx-auto card mb-2 border-dark w-50 h-auto">
    <div class="card-body">
      <p class="card-text">1) Registrate para poder acceder a las trivias!</p>
      <p class="card-text">
        2) Selecciona una categoria y comienza a responder trivias para ganar
        puntos e increibles premios!
      </p>
      <p class="card-text">
        3) De vez en cuando aparecen trivias instantanas, aprovechalas para
        ganar premios de forma inmediata!
      </p>
      <p class="card-text">
        4) Acumula puntos y compite en el ranking con todos los jugadores.
      </p>
    </div>
  </div>
</main>
{% endblock %}
