{% block footer %} {% endblock footer %}
<footer class="footer">
  <div class="container pt-3">
    <div class="row">
      <div class="col-md-4 col-12">
        <h4 data-i18n="navigation"></h4>
        <ul class="list-unstyled">
          <li>
            <a href="/home" data-i18n="home"></a>
          </li>
          <li>
            <a href="/ranking" data-i18n="ranking"></a>
          </li>
          <li>
            <a href="/cuenta" data-i18n="myAccount"></a>
          </li>
          <li>
            <a href="/home" data-i18n="categories"></a>
          </li>
        </ul>
      </div>
      <div class="col-md-4 col-12">
        <h4 data-i18n="information">Informacion</h4>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse
          molestias architecto, est quis p
        </p>
      </div>
      <div class="col-md-4 col-12 text-center">
        <h4 data-i18n="help">Ayuda</h4>

        <a href="/help">
          <img class="img-ayuda" src="../../static/img/ayuda.png" alt="info" />

          <h5 class="text-center" data-i18n="help2">
          </h5></a
        >
      </div>
    </div>
  </div>
</footer>
<!-- footer -->
