{% extends "user/base-user.html" %} {% block content %}

<!-- main content-->
<main>
  <div class="container mt-3 mb-3">
    <div class="row">
      <div class="col-md-5  col-12">
       
        <h1>{{ trivias[0].category }}</h1>
      </div>
      <div class="col-md-7 col-12 text-center">
        <h6 id="extraPoints" class="text-muted" data-i18n="timeRemaining"></h6>
        <div class="progress">
          <div
            id="barra"
            class="progress-bar bg-dark"
            role="progressbar"
            style="width: 0%"
            aria-valuenow="100"
            aria-valuemin="0"
            aria-valuemax="100"
          ></div>
        </div>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-md-2 col-12"></div>
      <div class="col-md-8 col-12">
        <div id="pregunta" class="card text-center text-dark border-dark">
          <div class="trivia card-body">
            
                {% if trivias[0].image %}
                  <img src="{{ trivias[0].image }}" alt="" style="max-height: 20vh">
                {% elif trivias[0].audio %}
                  <audio controls src="{{ trivias[0].audio }}"></audio>
                {% elif trivias[0].question %}
                  <h2 class="card-title">
                      {{ trivias[0].question }}
                  </h2>
                {%endif %}
                
          </div>
          <div class="trivia card-foote text-muted">
            Responde por 150 puntos!
          </div>
        </div>
        <div id="resultado" class="text-center display-1 "></div>
        <br />
        <div class="row" id="opciones">
          <div class="col-md-6 mt-1 mb-1">
            <div class="row">
              <!-- <div class="col-2">
                <img
                  src="../../static/img/d1.PNG"
                  class="img-respuesta"
                  alt="respuesta"
                />
              </div> -->
              <div class="col-10">
                <button
                  id="op1"
                  onClick="onSelect('op1')"
                  class="btn btn-outline-dark btn-block"
                >
                {{ trivias[0].options[0] }}
                </button>
              </div>
            </div>
          </div>
          <div class="col-md-6 mt-1 mb-1">
            <div class="row">
              <div class="col-2">
                <!-- <img
                  src="../../static/img/d2.jpg"
                  class="img-respuesta"
                  alt="respuesta"
                /> -->
              </div>
              <div class="col-10">
                <button
                  id="op2"
                  onClick="onSelect('op2')"
                  class="btn  btn-outline-dark btn-block"
                >
                  {{ trivias[0].options[1] }}
                </button>
              </div>
            </div>
          </div>
          <div class="col-md-6 mt-1 mb-1">
            <div class="row">
              <!-- <div class="col-2">
                <img
                  src="../../static/img/d3.PNG"
                  class="img-respuesta"
                  alt="respuesta"
                />
              </div> -->
              <div class="col-10">
                <button
                  id="op3"
                  onClick="onSelect('op3')"
                  class="btn btn-outline-dark btn-block"
                >
                 {{ trivias[0].options[2] }}
                </button>
              </div>
            </div>
          </div>
          <div class="col-md-6 mt-1 mb-1">
            <div class="row">
              <div class="col-2">
                <!-- <img
                  src="../../static/img/d4.jpg"
                  class="img-respuesta"
                  alt="respuesta"
                /> -->
              </div>
              <div class="col-10">
                <button
                  id="op4"
                  onClick="onSelect('op4')"
                  class="btn btn-outline-dark btn-block"
                >
                  {{ trivias[0].options[3] }}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-12"></div>
    </div>
  </div>
</main>
<script>
  var barra = document.getElementById("barra");
  var resultado = document.getElementById("resultado");
  var pregunta = document.getElementById("pregunta");
  var opciones = document.getElementById("opciones");
  var extraPoints = document.getElementById("extraPoints");
  var optionSelected = false;
  var width = "0%";
  var timeOut = false;

  function updateBarra(index) {
    var tiempoBarra = setTimeout(function() {
      width = index / 2 + "%";
      barra.style.width = width;
      if (index === 200) {
        timeOut = true;
        extraPoints.remove;
        //resultado.innerHTML = "¡Se acabo el tiempo!";
      } else if (optionSelected === true) {
        clearTimeout(tiempoBarra);
      } else {
        updateBarra(index + 1);
      }
    }, 100);
  }

  function onSelect(id) {
    if (optionSelected || timeOut) {
      return;
    } else {
      optionSelected = true;
    }
    var option = document.getElementById(id);
    // quitando el mensaje
    if (id === "op1") {
      option.classList.remove("btn-outline-dark");
      option.classList.add("btn-success");
    } else {
      option.classList.remove("btn-outline-dark");
      option.classList.add("btn-danger");
    }
  }

  updateBarra(0);
</script>
{% endblock%}
